*{
	margin: 0;
	padding: 0;
}
.error{
	color: red;
	margin-left: 15px;
}
body{
	background: url(images.jpg);
}
table{
	width: 50%;
	border: 1px solid black;
	border-radius: 15px;
	margin-top: 100px;
}
.t1{
	width: 170px;
	font-weight: bold;
	padding: 10px;
}
.t2 input{
	width: 250px;
}
#btn{
	margin-top: 20px;
}
#btn input{
	width: 100px;
	height: 30px;
	background: red;
	color: #fff;
	font-weight: bold;
}
#btn input[type=button]{
	margin-right: 100px;
}